@model RegistrationWeb.Client.Models.CourseCourseViewModel

@{
    ViewBag.Title = "New Course Schehdule";
}

@section Sidebar {
    @Html.CourseNav(Model.CourseListViewModel)
}

<div>
    @Html.Partial("CourseNav", Model.CourseListViewModel)

    @Model.CourseListViewModel.Message.ToHTML()
</div>


@using (Html.BeginRouteForm("RegisterCourse", new { courseId = Model.CourseListViewModel.CurrentCourseId, courseScheduleId = Model.CourseScheduleId }))
{
    @Html.Hidden("redirectSuccess", "Show")
    @Html.Hidden("redirectFailure", "New")

    <div class="form-group">
        <label for="professor">Professor</label><br />
        @Html.DropDownList("professor", Model.PeopleList, new Dictionary<string, string> { { "class", "form-control" } })
    </div>

    <div class="form-group">
        <label for="schedule">Schedule</label><br />
        @Html.DropDownList("schedule", Model.SchedulesList, new Dictionary<string, string> { { "class", "form-control" } })
    </div>

    <div class="form-group">
        <label for="capacity">Capacity</label><br />
        <input id="capacity" name="capacity" type="text" value="@Model.Capacity" class="form-control" />
    </div>

    <input type="submit" value="Save Changes" class="btn btn-primary" />
}

