@model RegistrationWeb.Domain.RegistrationServiceReference.StudentScheduleDAO

<table class="table table-hover">
    <colgroup>
        <col style="width: 50%" />
        <col style="width: 50%" />
    </colgroup>

    <thead>
        <tr>
            <td><h3>@Model.CourseSchedule.Course.Title</h3></td>
            <td style="vertical-align: bottom">
                @using (Html.BeginRouteForm("AddStudentCourse", new { studentId = Model.Student.Person.Id, courseScheduleId = Model.CourseSchedule.Id }))
                {
                    @Html.Hidden("redirectSuccess", "Show")
                    @Html.Hidden("redirectFailure", "ShowCourses")
                    <button type="submit" data-toggle="tooltip" title="Register Course" class="btn btn-success pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                }

                @using (Html.BeginRouteForm("BookmarkStudentCourse", new { studentId = Model.Student.Person.Id, courseScheduleId = Model.CourseSchedule.Id }))
                {
                    @Html.Hidden("redirectSuccess", "CourseBookmarks")
                    @Html.Hidden("redirectFailure", "ShowCourses")
                    <button type="submit" data-toggle="tooltip" title="Add Bookmark" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-star"></span>
                    </button>
                }
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Professor</th>
            <td>@Model.CourseSchedule.Professor.Name</td>
        </tr>

        <tr>
            <th>Start Time</th>
            <td>@Html.TimeFormat(Model.CourseSchedule.Schedule.StartTime)</td>
        </tr>

        <tr>
            <th>End Time</th>
            <td>@Html.TimeFormat(Model.CourseSchedule.Schedule.EndTime)</td>
        </tr>

        <tr>
            <th>Students Enrolled</th>
            <td>@Model.CourseSchedule.Enrolled / @Model.CourseSchedule.Capacity</td>
        </tr>
    </tbody>
</table>

